<form id="config_form" class="form-horizontal">
	<fieldset>
		<div class="well" ng-repeat="plugin in config.plugins">
			<div class="row">
				<div class="span4">
					<legend>{{plugin.details.name}}</legend>
				</div>
				<div class="pull-right">
					<select ng-model="plugin.details" ng-options="option as option.id for option in plugins" required="true">
						<option value=''>Select Plugin</option>
					</select>
					<span class="hint">Please select a plugin.</span>
				</div>
			</div>
			<div class="row">
				<div class="pull-right">
					<a style="float: right">
						<i class="icon-remove"></i> Remove Plugin
					</a>
				</div>
			</div>
		</div>
		<a>
			<i class="icon-plus"></i> Add Plugin
		</a>
	</fieldset>
</form>

{{config}}